<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kr.android.Ultra_Meeting"
            android:versionCode="1"
	          android:versionName="1.0"
		        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			 >
			     <application android:icon="@drawable/mark" android:label="@string/app_name">
			             <activity android:name=".Ultra_Meeting"
				             android:screenOrientation="portrait"
					                       android:label="@string/app_name"
							                         android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
										             <intent-filter>
											                     <action android:name="android.intent.action.MAIN" />
													                     <category android:name="android.intent.category.LAUNCHER" />
															                 </intent-filter>
																	         </activity>
																		         <activity android:name=".googleMaps"
																			         android:screenOrientation="portrait"></activity>
																				         <activity android:name=".m"
																					         android:screenOrientation="portrait"></activity>
																						         <activity android:name=".m1"
																							         android:screenOrientation="portrait"></activity>
																								         <activity android:name=".m1_1"
																									         android:screenOrientation="portrait"></activity>
																										         <activity android:name=".m1_2"
																											         android:screenOrientation="portrait"></activity>
																												         <activity android:name=".m2"
																													         android:screenOrientation="portrait"></activity>
																														         <activity android:name=".m2_1"
																															         android:screenOrientation="portrait"></activity>
																																         <activity android:name=".m2_2"
																																	         android:screenOrientation="portrait"></activity>
																																		         <activity android:name=".m2_3"
																																			         android:screenOrientation="portrait"></activity>
																																				         <activity android:name=".m3"
																																					         android:screenOrientation="portrait"></activity>
																																						         <activity android:name=".m4"
																																							         android:screenOrientation="landscape"></activity>
																																								         <activity android:name=".m5"></activity>
																																									         <activity android:name=".m5_1"
																																										         android:screenOrientation="portrait"></activity>
																																											         <activity android:name=".m5_2"
																																												         android:screenOrientation="portrait"></activity>
																																													         <activity android:name=".m6"
																																														         android:screenOrientation="portrait"></activity>
																																															         <activity android:name=".m6_1"
																																																         android:screenOrientation="portrait"></activity>
																																																	         <activity android:name=".m6_1bonbu"
																																																		         android:screenOrientation="portrait"></activity>
																																																			         <activity android:name=".m6_1lib"
																																																				         android:screenOrientation="portrait"></activity>
																																																					         <activity android:name=".m6_1kyosu"
																																																						         android:screenOrientation="portrait"></activity>
																																																							         <activity android:name=".m6_1bokji"
																																																								         android:screenOrientation="portrait"></activity>
																																																									         <activity android:name=".m6_2"
																																																										         android:screenOrientation="portrait"></activity>
																																																											         <activity android:name=".m6_2gudu"
																																																												         android:screenOrientation="portrait"></activity>
																																																													         <activity android:name=".m6_2gaspel"
																																																														         android:screenOrientation="portrait"></activity>
																																																															         <activity android:name=".m6_2sinla"
																																																																         android:screenOrientation="portrait"></activity>
																																																																	         <activity android:name=".m6_2glass"
																																																																		         android:screenOrientation="portrait"></activity>
																																																																			         <activity android:name=".m6_3"
																																																																				         android:screenOrientation="portrait"></activity>
																																																																					         <activity android:name=".m6_4"
																																																																						         android:screenOrientation="portrait"></activity>
																																																																							         <activity android:name=".m7"
																																																																								         android:screenOrientation="portrait"></activity>
																																																																									         <activity android:name=".m7_1"
																																																																										         android:screenOrientation="portrait"></activity>
																																																																											         <activity android:name=".m7_1kd"
																																																																												         android:screenOrientation="portrait"></activity>
																																																																													         <activity android:name=".m7_1js"
																																																																														         android:screenOrientation="portrait"></activity>
																																																																															         <activity android:name=".m7_1sn"
																																																																																         android:screenOrientation="portrait"></activity>
																																																																																	         <activity android:name=".m7_1ay"
																																																																																		         android:screenOrientation="portrait"></activity>
																																																																																			         <activity android:name=".m7_1as"
																																																																																				         android:screenOrientation="portrait"></activity>
																																																																																					         <activity android:name=".m7_1ydp"
																																																																																						         android:screenOrientation="portrait"></activity>
																																																																																							         <activity android:name=".m7_1snae"
																																																																																								         android:screenOrientation="portrait"></activity>
																																																																																									         <activity android:name=".m7_1ic"
																																																																																										         android:screenOrientation="portrait"></activity>
																																																																																											         <activity android:name=".m7_1nw"
																																																																																												         android:screenOrientation="portrait"></activity>
																																																																																													         <activity android:name=".m7_1kr"
																																																																																														         android:screenOrientation="portrait"></activity>
																																																																																															         <activity android:name=".m7_1si"
																																																																																																         android:screenOrientation="portrait"></activity>
																																																																																																	         <activity android:name=".m7_1is"
																																																																																																		         android:screenOrientation="portrait"></activity>
																																																																																																			         <activity android:name=".m7_1dsw"
																																																																																																				         android:screenOrientation="portrait"></activity>
																																																																																																					         <activity android:name=".m7_2"
																																																																																																						         android:screenOrientation="portrait"></activity>
																																																																																																							         <activity android:name=".m7_3"
																																																																																																								         android:screenOrientation="portrait"></activity>
																																																																																																									         <activity android:name=".m7_3doo1"
																																																																																																										         android:screenOrientation="portrait"></activity>
																																																																																																											         <activity android:name=".m7_3cun1"
																																																																																																												         android:screenOrientation="portrait"></activity>
																																																																																																													         <activity android:name=".m8"
																																																																																																														         android:screenOrientation="portrait"></activity>
																																																																																																															         <activity android:name=".m9"
																																																																																																																         android:screenOrientation="portrait"></activity>  
																																																																																																																	         <activity android:name=".m10"
																																																																																																																		         android:screenOrientation="portrait"></activity>
																																																																																																																			         <activity android:name=".m10_1"
																																																																																																																				         android:screenOrientation="portrait"></activity>  
																																																																																																																					         <activity android:name=".m11"
																																																																																																																						         android:screenOrientation="portrait"></activity>
																																																																																																																							         <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>  
																																																																																																																								     </application>
																																																																																																																								         <uses-sdk android:minSdkVersion="7" />
																																																																																																																									     <uses-permission android:name="android.permission.INTERNET"></uses-permission>
																																																																																																																									         <uses-permission android:name="android.permission.CALL_PHONE"/>
																																																																																																																										      
																																																																																																																										      </manifest> 
