<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kr.android.Ultra_Meeting"
            android:versionCode="1"
	          android:versionName="1.0"
		        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			 >
			     <application android:icon="@drawable/mark" android:label="@string/app_name">
			             <activity android:name=".Ultra_Meeting"
				             android:screenOrientation="portrait"
					                       android:label="@string/app_name"
							                         android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
										             <intent-filter>
											                     <action android:name="android.intent.action.MAIN" />
													                     <category android:name="android.intent.category.LAUNCHER" />
															                 </intent-filter>
																	         </activity>
																		         <activity android:name=".Meeting_Planner"
																			         android:screenOrientation="portrait"></activity>
																				         <activity android:name=".rs1"
																					         android:screenOrientation="portrait"></activity>
																						         <activity android:name=".rs1_1"
																							         android:screenOrientation="portrait"></activity>
																								         <activity android:name=".rs1_w"
																									         android:screenOrientation="portrait"></activity>
																										         <activity android:name=".rs2"
																											         android:screenOrientation="portrait"></activity>
																												         <activity android:name=".rs2_1"
																													         android:screenOrientation="portrait"></activity>
																														         <activity android:name=".rs2_w"
																															         android:screenOrientation="portrait"></activity>
																																         <activity android:name=".rs3"
																																	         android:screenOrientation="portrait"></activity>
																																		         <activity android:name=".rs3_1"
																																			         android:screenOrientation="portrait"></activity>
																																				         <activity android:name=".rs3_w"
																																					         android:screenOrientation="portrait"></activity>        
																																						         <activity android:name=".rs4"
																																							         android:screenOrientation="portrait"></activity>
																																								         <activity android:name=".rs4_1"
																																									         android:screenOrientation="portrait"></activity>
																																										         <activity android:name=".rs4_w"
																																											         android:screenOrientation="portrait"></activity>
																																												         <activity android:name=".rs5"
																																													         android:screenOrientation="portrait"></activity>
																																														         <activity android:name=".rs5_1"
																																															         android:screenOrientation="portrait"></activity>
																																																         <activity android:name=".rs5_w"
																																																	         android:screenOrientation="portrait"></activity>  
																																																		         <activity android:name=".rs6"
																																																			         android:screenOrientation="portrait"></activity>
																																																				         <activity android:name=".rs6_1"
																																																					         android:screenOrientation="portrait"></activity>
																																																						         <activity android:name=".rs6_w"
																																																							         android:screenOrientation="portrait"></activity>
																																																								         <activity android:name=".group_chatting"
																																																									         android:screenOrientation="portrait"></activity>  
																																																										         <activity android:name=".seodaemoon"
																																																											         android:screenOrientation="portrait"></activity>
																																																												         <activity android:name=".kangnam"
																																																													         android:screenOrientation="portrait"></activity>
																																																														         <activity android:name=".mapo"
																																																															         android:screenOrientation="portrait"></activity>
																																																																         <activity android:name=".ready"
																																																																	         android:screenOrientation="portrait"></activity>
																																																																		         <activity android:name=".menu"
																																																																			         android:screenOrientation="portrait"></activity>
																																																																				         <activity android:name=".data_sharing"
																																																																					         android:screenOrientation="portrait"></activity>
																																																																						         <activity android:name=".video_sharing"
																																																																							         android:screenOrientation="portrait"></activity>
																																																																								         <activity android:name=".recommended_places"
																																																																									         android:screenOrientation="portrait"></activity>
																																																																										         <activity android:name=".seoul"
																																																																											         android:screenOrientation="portrait"></activity>
																																																																												         <activity android:name=".kyunggi"
																																																																													         android:screenOrientation="portrait"></activity>
																																																																														         <activity android:name=".jongro"
																																																																															         android:screenOrientation="portrait"></activity>
																																																																																         <activity android:name=".kwangjin"
																																																																																	         android:screenOrientation="portrait"></activity>
																																																																																		         <activity android:name=".seocho"
																																																																																			         android:screenOrientation="portrait"></activity>
																																																																																				         <activity android:name=".file_backup"
																																																																																					         android:screenOrientation="portrait"></activity>  
																																																																																						         <activity android:name=".about"
																																																																																							         android:screenOrientation="portrait"></activity>
																																																																																								         <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>  
																																																																																									     </application>
																																																																																									         <uses-sdk android:minSdkVersion="7" />
																																																																																										     <uses-permission android:name="android.permission.INTERNET"></uses-permission>
																																																																																										         <uses-permission android:name="android.permission.CALL_PHONE"/>
																																																																																											      
																																																																																											      </manifest> 
